// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: #8D0A3A;
}
h3 {
  color: #8D0A3A;
}
a{
  color: #8D0A3A;
  text-decoration: none;
}
a:hover{
  color: #DD5555;
  text-decoration: none;
}

